<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/index_mobile.css">
    <link rel="stylesheet" type="text/css" href="/navbar_mobile.css">
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">   <script src="https://kit.fontawesome.com/2cea744347.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-XXXXXXXX-Y']);
   _gaq.push(['_trackPageview']);
   (function()
   {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
  </script>
  </head>
  <body>
    <div class="navbar-hidden">
      <div class="hidden-hamburger-menu">
        <a href="">
          <div></div>
          <div></div>
          <div></div>
        </a>
       </div>
       <div class="side-nav">
        <div class="side-nav-btn">
          <div>
               <a href="/">Products</a>
          </div>
          <i class="fas fa-chevron-down  fa-sm"></i>
        </div>        
        <div class="sub-menu">
          <a href="/"><div>COOKIES</div></a>
          <a href="/"><div>MUFFINS</div></a>
          <a href=""><div>CAKES</div></a>
          <a href=""><div>PIES</div></a>
          
        </div>
        <div class="side-nav-btn">
          <div>
               <a href="/">ABOUT</a>
          </div>
          <i class="fas fa-chevron-down  fa-sm"></i>
        </div>        
        <div class="sub-menu">
          <a href="/"><div>Option 1</div></a>
          <a href="/"><div>Option 2</div></a>
          <a href=""><div>Option 3</div></a>
          <a href=""><div>option 4</div></a>
          
        </div>
        <div class="side-nav-btn">
          <div>
               <a href="/">OTHER</a>
          </div>
          <i class="fas fa-chevron-down  fa-sm"></i>
        </div>        
        <div class="sub-menu">
          <a href="/"><div>Option 1</div></a>
          <a href="/"><div>Option 2</div></a>
          <a href=""><div>Option 3</div></a>
          <a href=""><div>option 4</div></a>
          
        </div>
       </div>
      
    </div>
    <div class="shadow">
    <div class="navbar">
      <div class="hamburger-menu">
       <a href="">
         <div></div>
         <div></div>
         <div></div>
       </a>
      </div>
      <div>
        <h1>IRAN PHOENIX</h1>
      </div>
      <div class="logo">
        <img src="/ip7.png">
      </div>
    </div>
 
  

    <div class="page-enclosure">
      