<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/mobile.css">
    <link rel="stylesheet" type="text/css" href="/navbar_mobile.css">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/2cea744347.js" crossorigin="anonymous"></script>
</head>
  <body>
    <!-- <div class="navbar-hidden">
      <div class="hidden-hamburger-menu">
        <a href="">
          <div></div>
          <div></div>
          <div></div>
        </a>
       </div>
       <div class="side-nav">
        <div class="side-nav-btn">
          <div>
               <a href="/">Catagories</a>
          </div>
          <i class="fas fa-chevron-down  fa-sm"></i>
        </div>        
        <div class="sub-menu">
          <a href="/cookies"><div>cookies</div></a>
          <a href="/"><div>muffins</div></a>
          <a href=""><div>cakes</div></a>
          <a href=""><div>pies</div></a>
          
        </div>
        <div class="side-nav-btn">
          <div>
               <a href="/">About</a>
          </div>
          <i class="fas fa-chevron-down  fa-sm"></i>
        </div>        
        <div class="sub-menu">
          <a href="/"><div>option 1</div></a>
          <a href="/"><div>option 2</div></a>
          <a href=""><div>option 3</div></a>
          <a href=""><div>option 4</div></a>
          
        </div>
        <div class="side-nav-btn">
          <div>
               <a href="/">Other</a>
          </div>
          <i class="fas fa-chevron-down  fa-sm"></i>
        </div>        
        <div class="sub-menu">
          <a href="/"><div>option 1</div></a>
          <a href="/"><div>option 2</div></a>
          <a href=""><div>option 3</div></a>
          <a href=""><div>option 4</div></a>
          
        </div>
       </div>
      
    </div> -->
    <div class="shadow">
    <div class="navbar">
      <!-- <div class="hamburger-menu">
       <a href="">
         <div></div>
         <div></div>
         <div></div>
       </a>
      </div> -->
      <!-- <div>
        <h1>IRAN PHOENIX</h1>
      </div> -->
      <div class="logo">
        <img src="/ip7.png">
      </div>
      <div class="user-icon">
        <a >
            <i class="fas fa-user-circle fa-2x"></i>
        </a>
      </div>
    </div>  
    <div class="user-icon-menu">
        <div class="user-icon-menu-links">
          <div>
            <h4><a href="">User Info</a></h4>
          </div>
          <div>
            <h4><a href="">Terms & Conditions</a></h4>
          </div>
          <div>
            <h4><a href="">About</a></h4>   
          </div>
          <div>
            <h4><a href="">Sign In</a></h4>
          </div>
    </div>
  </div>
    <div class="page-enclosure">
      <div class="chat-menu">
        <div class="chat-container">
          <div class="bubble-field">
            <div class="chat-bubble-client">
              <h4>user_123</h4>
              <p>Hello</p>
            </div>
            <div class="chat-bubble-service">
              <h4>Sussan</h4>
              <p>Hey there, how can I help you?</p>
            </div>
            <div class="chat-bubble-client">
              <h4>user_123</h4>
              <p>I'd like to buy some muffins but I am having trouble...</p>
            </div>
            <div class="chat-bubble-service">
              <h4>Sussan</h4>
              <p>I can certainly help you with that.</p>
            </div>
            <div class="chat-bubble-client">
              <h4>user_123</h4>
              <p>Great, thank you!</p>
            </div>
            
          </div>
          <input type="text" placeholder="text here...">
        </div>
        <div class="chat-bubble">
          <a href="">
              <i class="material-icons">chat</i>
          </a>
        </div>
      </div>
     
      