<div class="admin-navbar">
  <div>
    <ul id="slide-out" class="sidenav admin-sidenav">
      <li>
        <img src="/ip7.png">
        <a class="sidenav-close" href="#!">
          <h1>Admin</h1>
        </a>
      </li>
      <li>
        <ul class="collapsible admin-collapsible-list">
          <li>
            <div class="collapsible-header"><i class="material-icons">assignment</i>Orders</div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">dashboard</i>Dashboard</div>
            <div class="collapsible-body">
              <ul class="">
                <li><i class="material-icons"></i>Overview</li>
                <li><i class="material-icons"></i>Analitics</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">local_dining</i>Product Management</div>
            <div class="collapsible-body">
              <ul class="">
                <li><a href="/admin/allergies-management">Manage Allergies</a></li>
                <li><a href="/admin/addons-management">Manage Addons</a></li>
                <li><a href="/admin/products-management">Manage Products</a> </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">chat</i>Chat</div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">payment</i>Payments</div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">person</i>Account</div>
            <div class="collapsible-body">
              <ul>
                <li>Settings</li>
                <li>Sign In</li>
                <li>Sign Out</li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</div>

<ul id="slide-out" class="sidenav">

</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>