/* navbar */
#navbar {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  height: 65px;
  z-index: 6;
  box-shadow: 0px 0px 2px 1px rgba(204, 204, 204, 1);
  box-sizing: border-box;
  position: fixed;
}

#nav {
  background-color: #ffffff;
  box-shadow: none;
}

div#nav-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-left: 20px;
  height: 100%;
  background-color: #ffffff;
  color: black;
  box-shadow: none;
}

div#nav-header a {
  display: flex;
  align-items: center;
}

div#nav-header i {
  font-size: 35px;
  color: rgb(39, 39, 39);
}

div#logo {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#logo img {
  width: 100%;
  height: 100%;
  margin-left: 50px;
}

/* user interface */
#user-interface {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 14px;
}
#user-interface img {
  height: 32px;
  width: 32px;
}

#user-interface div > div:nth-of-type(1) i {
  font-size: 25px;
  color: #ffad42;
}

#user-icon {
  position: relative;
}

#user-icon i {
  font-size: 47px;
  color: #09af00;
}

#user-icon #dropdown1 {
  width: 180px !important;
  border-radius: 5px;
  z-index: 100000 !important;
}

#dropdown1 a {
  color: black;
}

#cart-icon {
  position: relative;
  margin-right: 20px;
}

#cart-count {
  height: 15px;
  position: absolute;
  top: 2px;
  right: -10px;
  background-color: #ffad42;
  border-radius: 10px;
  padding: 10px;
  line-height: 0;
  display: flex;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  justify-content: center;
  align-items: center;
  width: 15px;
  min-width: 15px;
}

#dropdown1 {
  position: absolute;
  top: 4px !important;
  right: 4px !important;
}
