/*
+++++++++++++++++++++++++
LOGIN VIEW
+++++++++++++++++++++++++
*/

#login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form-header {
  background-color: #5cb85c;
  height: 60px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form-header h2 {
  color: #ffffff;
  text-transform: uppercase;
}

#login-form {
  background-color: #ffffff;
  width: 90%;
  padding: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

#login-form > a {
  margin-top: 20px;
}

/*
+++++++++++++++++++++++++
Sign Up VIEW
+++++++++++++++++++++++++
*/

#signup-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup-form-header {
  background-color: #5cb85c;
  height: 60px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signup-form-header h2 {
  color: #ffffff;
  text-transform: uppercase;
}

#signup-form {
  background-color: #ffffff;
  width: 90%;
  padding: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

#signup-form > a {
  margin-top: 20px;
}

#signup-form > input {
  background-color: #f5f5f5;
  border: 1px solid #9e9e9e;
  padding-left: 10px;
  box-sizing: border-box;
}

/* =============================== */
/* PRODUCTS STYLES */
/* =============================== */

#products-list {
  margin-top: 95px;
}

#products-enclosure {
  overflow: auto;
  height: 100%;
}
.product-img {
  width: 100% !important;
}

.card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.product-reveal {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.product-reveal div:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
}

.product-reveal h2 {
  text-transform: capitalize;
  margin-bottom: 15px;
}

.product-reveal a {
  background-color: #5cb85c;
  margin-left: 10px;
}

/*
+++++++++++++++++++++++++
CATEGORY VIEW
+++++++++++++++++++++++++
*/

#categories-list {
  width: 90%;
  margin: auto;
  margin-top: 60px;
  overflow: auto;
  scrollbar-width: none;
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.categories-card {
  margin: 10px 0px 10px 0px;
  flex: 1 !important;
  border-radius: 8px;
}

.categories-card h2 {
  color: rgba(0, 0, 0, 0.473);
  margin: 0px;
}

.categories-card span {
  text-transform: capitalize;
}
#category-enclosure {
  margin-bottom: 30px;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.category-list {
  width: 100%;
  margin: auto;
  overflow: auto;
  scrollbar-width: none;
  height: 100%;
  padding-top: 65px;
  min-width: 200px;
}

.category-card {
  flex: 1 !important;
  margin: 10px 0px 30px 0px;
  border-radius: 8px;
  width: 100%;
}

.product-img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.category-card span {
  text-transform: capitalize;
  margin: 0px !important;
}

.category-card img {
  object-fit: cover;
  height: 200px;
}

.category-product-list::-webkit-scrollbar {
  display: none;
}

.searchbar {
  position: fixed;
  top: 0;
  box-shadow: 0px 0px 2px 1px#ffffff;
  height: 50px;
  width: 100%;
  z-index: 5;
  margin-top: 65px;
  transition: top 0.3s;
}

.searchbar i {
  position: relative;
  left: 13px;
  bottom: 45px;
  color: rgba(39, 39, 39, 0.4);
}

.searchbar input {
  width: 100%;
  height: 50px !important;
  border: none;
  width: 100%;
  border-radius: 10px;
  text-indent: 50px;
  background-color: #ffffff !important;
  border-bottom: none !important;
  border-top: 2px solid #ccc !important;
  padding: 20px;
}

.floating-product-img {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  position: absolute;
  z-index: 10;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-product-img img {
  height: 80%;
}

.product-img {
  width: 100% !important;
}

.product-img a {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.product-img i {
  position: absolute;
  z-index: 7;
  left: 10px;
  top: 10px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 20px;
  display: none;
}

.category-card-content {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.category-subtitle {
  color: rgba(128, 128, 128, 0.548) !important;
  margin-top: 10px;
}

.category-card-title {
  display: flex;
  text-transform: capitalize;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.product-card-title {
  margin-bottom: 10px !important;
}

.product-price {
  margin-top: 10px !important;
}

.card-btns {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-btns > div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
}

.card-btns > div:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1;
  color: #2c363f;
  font-size: 10px !important;
}

.card-btns p {
  margin: 0px !important;
  margin-right: 5px !important;
  font-weight: bold;
}

.card-btns i {
  font-size: 30px;
  font-weight: 600 !important;
  margin-bottom: 16px;
}

.card-btns a {
  background-color: #5cb85c !important;
  color: white;
  border: none;
}

.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.floating-customization-menu {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  z-index: 11;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.customize-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #4a5759;
  color: white;
  width: 100%;
  padding: 20px;
  height: 20%;
}

.customize-body {
  width: 100%;
  height: 100%;
}

.customize-body .collection {
  width: 100%;
  margin: 0;
}

.customize-body .collection-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collection-item span::after {
  background-color: #5cb85c !important;
  border-color: #5cb85c !important;
}

.customize-body .collection-item > div:nth-of-type(1) {
  flex: 1.5;
}

.customize-body .collection-item > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  overflow-y: scroll;
}

.customize-body .collection-item > div:nth-of-type(2) a {
  display: flex;
  align-items: center;
}

.customize-body .collection-item > div:nth-of-type(2) i {
  color: black !important;
}

.customize-body .collection-item > div:nth-of-type(3) {
  flex: 1;
  text-align: end;
}

.customize-body .collection-item > div:nth-of-type(3) h2 {
  margin: 0px;
}

.customize-footer {
  background-color: #4a5759;
  color: white;
  width: 100%;
  padding: 20px 20px 20px 20px;
}

.customize-footer > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.customize-footer-btns {
  margin: 20px 0px 0px 0px;
}

.customize-footer-btns a {
  background-color: #5cb85c !important;
}

.card-reveal-btns > a {
  font-size: 10px !important;
}

.card-reveal-btns > a:hover {
  background-color: #5cb85c;
}

/* 
++++++++++++++++++++++
USER INFO VIEW
++++++++++++++++++++++
*/
#user-info-container {
  margin-top: 65px;
}

#user-info-container ul {
  margin-top: 0px;
  border: none !important;
  overflow-y: scroll;
}

#user-info-container ul > li {
  margin: 20px 20px 20px 20px !important;
  z-index: 3 !important;
}

#user-info-list {
  overflow-y: scroll;
  margin-bottom: 0px;
  box-shadow: none;
}

.user-input-field {
  margin: 0 !important;
  position: inline-block;
}

.user-info-content {
  position: relative !important;
  top: -8px !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.user-info-header {
  border-radius: 10px !important;
  height: 73px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info-header h3 {
  font-weight: bold;
}

.user-info-header div:nth-of-type(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-info-header h3 {
  padding-right: 20px;
}

.user-info-current-tags {
  min-width: 0px;
}

.user-info-current-tags p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.user-info-content {
  background-color: #ffffff;
}

.confirmed-allergie {
  background-color: #5cb85c;
  color: white;
}

.allergie-chip {
  margin: 0px 10px 10px 0px !important;
}

/* 
++++++++++++++++++++++
ORDER VIEW
++++++++++++++++++++++
*/

.orders-container {
  height: 95vh;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.orders-carousel {
  height: 100%;
}

.orders {
  height: 100% !important;
  overflow-y: auto;
  scrollbar-width: none;
}

.orders .collapsible-header {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.orders .collapsible i {
  font-size: 30px;
}

.order-info-content {
  background-color: #ffffff;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
  color: #ffffff !important;
  position: relative !important;
  top: -8px !important;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px 20px 20px 20px;
}

.orders ul {
  box-shadow: none;
  color: black !important;
}

.order-divider {
  margin: 20px 0px 0px 0px;
}

.orders ul {
  margin-top: 68px;
  height: 95vh !important;
  border: none !important;
  overflow-y: scroll;
}

.orders ul > li {
  margin: 20px 20px 20px 20px !important;
  z-index: 3 !important;
}

.order-info-header {
  border-radius: 10px !important;
  height: 73px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border: none !important;
}

.order-info-header div:nth-of-type(1) {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.order-details > div {
  display: flex;
  align-items: center;
  padding: 20px;
}

.order-details h2 {
  margin: 0px;
}

.order-details > div {
  background-color: #4a5759;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px 10px 0px;
  height: 40px;
  text-align: left;
}

.order-table {
  background-color: #4a5759;
  border-radius: 10px;
}

.order-table th {
  text-align: center !important;
}

.order-table td {
  text-align: center !important;
}

.order-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.indicators {
  position: absolute !important;
  background-color: #ffffff;
  width: 100%;
  left: 0px !important;
  top: 0px !important;
  height: 68px !important;
  display: flex;
  justify-content: space-around;
  align-items: center !important;
}

.indicators .indicator-item {
  height: 100% !important;
  flex: 1;
  border-radius: 0px !important;
  color: black !important;
  margin: 0px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-transform: capitalize;
  font-weight: bold;
}

.indicators .indicator-item:nth-of-type(1)::before {
  content: "current" !important;
}

.indicators .indicator-item:nth-of-type(2)::before {
  content: "cancelled" !important;
}

.indicators .indicator-item:nth-of-type(3)::before {
  content: "completed" !important;
}

/* 
++++++++++++++++++++++
CART VIEW
++++++++++++++++++++++ 
*/

.cart-container {
  background-color: #ffffff;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
}

.cart-container ::-webkit-scrollbar {
  display: none;
}

.cart-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}

.cart-info > div:nth-of-type(2) {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.cart-total h2 {
  margin-bottom: 10px !important;
}

.cart-list {
  margin-top: 30px;
  border-left: none !important;
  border-right: none !important;
  overflow-y: scroll;
}

.cart-list > li {
  height: 100px;
}

.cart-item {
  display: flex;
  padding: 10px !important;
}

.cart-item > div {
  display: flex;
}

.cart-item > div:nth-of-type(1) > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin-left: 20px;
}

.cart-item > div:nth-of-type(2) {
  display: flex;
  flex: 1;
  align-items: flex-end;
}

.cart-img {
  display: flex;
  align-items: center;
}

.cart-list img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.cart-btns > div {
  display: flex;
  align-content: center;
}

.cart-btns > div:nth-of-type(1) {
  background-color: #5cb85c;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.cart-btns i {
  font-size: 30px;
  margin-left: 10px;
}

.cart-btn {
  text-align: center;
}

.cart-btn button {
  padding: 9px;
  border: none;
  border-radius: 10px;
  background-color: #5cb85c;
  color: white;
  width: 100%;
}

.cart-info h2,
h3 {
  margin: 0px;
}

/* 
++++++++++++++++++++++
ABOUT VIEW 
++++++++++++++++++++++
*/

.about-container {
  color: #f5f5f5;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-container h1 {
  margin-bottom: 14px;
  word-wrap: normal;
  font-weight: bold;
}

/* 
=============================
ADMIN PRODUCT MANEGEMENT STYLES
=============================
*/

/* ++++++++++++++++++++++ */
/* Product Mangement View */
/* ++++++++++++++++++++++ */

/* prompts */
.admin-product-floater-container {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0 auto;
  z-index: 10;
  padding: 20px;
  width: 100% !important;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.397);
}

.admin-product-floater-container > div {
  width: 90%;
  padding: 20px;
  background-color: #f5f5f5;
  margin: 0 auto;
  position: relative;
  top: 35%;
}

.admin-product-floater-container > div input {
  background-color: #ffffff !important;
  padding-left: 10px !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  gap: 10px !important;
  border: none !important;
  border: 1px solid #cccccc !important;
}

.edit-product-menu {
  background-color: #f5f5f5;
  padding: 20px;
}

.edit-category-menu {
  background-color: #f5f5f5;
  padding: 20px;
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.edit-category-menu > div:nth-of-type(2) {
  display: flex;
}

.delete-category-menu h3 {
  margin-bottom: 14px;
}

.delete-confirm-btn {
  background-color: #5cb85c;
}

/* category dropdown */
.admin-products-container {
  z-index: 996;
  height: 100%;
  margin-top: 130px;
}

.admin-category-list {
  border: none !important;
  box-shadow: none;
  height: 100%;
  min-width: 287px;
}

.admin-category-list {
  width: 100%;
}

.admin-category-list .collapsible-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none !important;
  border-radius: 10px !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  padding: 6px !important;
  background-color: #f5f5f5 !important;
}

.admin-category-list .collapsible-body {
  background-color: #ffffff00;
  position: relative;
  top: 0px !important;
  border: none !important;
  padding: 0px;
}

.admin-category-list .collapsible-header div:nth-of-type(1) {
  display: flex;
  align-items: center;
}

.admin-category-list
  .collapsible-header
  div:nth-of-type(1)
  > div:nth-of-type(2) {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.admin-category-list .collapsible-header div:nth-of-type(2) {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex: 1;
}

.admin-category-img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
.admin-category-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-header-container {
  display: flex;
  margin-bottom: 14px;
  background-color: #f5f5f5 !important;
}

.category-header-container {
  padding: 5px !important;
}

.category-header-container h1 {
  font-size: 30px !important;
}

.category-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f5f5f5;
  margin-bottom: 14px;
  padding: 14px;
}

.category-input input {
  border: none !important;
  background-color: #ffffff !important;
  padding-left: 10px !important;
  border: 1px solid #cccccc !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  border: 1px solid #cccccc !important;
}

.category-input-btns {
  display: flex;
}

.category-input-btns a:nth-of-type(1) {
  background-color: #5cb85c !important;
  margin-right: 10px !important;
}

.category-input-btns a:nth-of-type(2) {
  background-color: #5cb85c;
}

#add-category-btn {
  width: 100%;
  background-color: #5cb85c !important;
  margin-bottom: 24px;
}

.category-save-btn {
  background-color: #5cb85c !important;
}

.category-cancle-btn {
  background-color: gray !important;
}

/* products display / input */
.admin-product-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
}

.admin-product {
  width: 95%;
  min-width: 272px;
  display: flex;
  background-color: #f5f5f5;
  padding: 10px;
  justify-content: space-between;
  height: 122px;
  margin-bottom: 14px;
}
.admin-product > div:nth-of-type(1) {
  min-width: 260px;
}

.admin-product h2 {
  font-size: 24px !important;
}

.admin-product > div:nth-of-type(1) {
  display: flex;
}

.admin-product-img {
  width: 100px;
  height: 100px;
  flex-grow: 0;
  flex-shrink: 0;
}

.admin-product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.admin-product-description {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  height: 100% !important;
  margin-right: 20px;
  overflow: hidden;
}

.admin-product-description h2 {
  overflow: hidden;
}

.admin-product-description p {
  overflow: hidden;
  font-size: 14px !important;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-input {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f5f5f5;
  margin-bottom: 14px;
  padding: 14px;
}

.product-input input {
  background-color: #ffffff !important;
  padding-left: 10px !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  gap: 10px !important;
  border: none !important;
  border: 1px solid #cccccc !important;
}

.title_price-inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title_price-inputs input:nth-of-type(1) {
  width: 59% !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  gap: 10px !important;
}

.title_price-inputs input:nth-of-type(2) {
  width: 40% !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

.add-product-btn {
  margin: 0px 0px 14px 0px;
  background-color: #5cb85c !important;
}

.product-dropdown-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-dropdown-trigger i {
  color: black;
}

.product-dropdown {
  display: flex;
  width: 120px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 #00000024, 0 3px 1px -2px #0000001f, 0 1px 5px 0 #0003;
  border-radius: 5px;
  position: absolute;
  right: 8px;
  top: 0px;
  z-index: 6;
}

.product-dropdown > li {
  padding: 14px 16px;
}

.product-dropdown h3 {
  margin-right: 8px;
}

.product-dropdown a {
  color: black !important;
}

#product-allergy-container > div:nth-of-type(2) {
  margin-top: 14px;
}

/* ++++++++++++++++++++++ */
/* ADMIN ALLERGIES VIEW */
/* ++++++++++++++++++++++ */

#allergy-input-container {
  margin-bottom: 30px;
}

#allergy-list-container {
  margin-top: 130px;
}

#allergy-input {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #f5f5f5;
  margin-bottom: 14px;
  padding: 14px;
}

#add-allergy-btn {
  width: 100%;
  background-color: #5cb85c;
}

#allergy-input input {
  background-color: #ffffff !important;
  padding-left: 10px !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  gap: 10px !important;
  border: none !important;
  border: 1px solid #cccccc !important;
}

#allergy-chips {
  margin-top: 14px;
  display: flex;
  flex-wrap: wrap;
}

#allergy-chips li {
  min-width: 0px;
}

#allergy-chips div {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-radius: 20px;
}

/* ++++++++++++++++++++++ */
/* ADMIN ADDONS VIEW */
/* ++++++++++++++++++++++*/

.addons-list-container {
  margin-top: 130px;
  min-width: 305px;
}

.addons-list-container > a {
  width: 100%;
  background-color: #5cb85c;
}

.addons-list-container > a:hover {
  background-color: #5cb85c;
}

#addons-input {
  background-color: #f5f5f5;
  margin-bottom: 14px;
  padding: 14px;
  flex-direction: column;
  align-items: flex-end;
}

#addons-input input {
  background-color: #ffffff;
  padding-left: 10px !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #cccccc !important;
  font-size: 16px !important;
  height: 3rem;
  width: 100%;
}

#addons-input a {
  float: none;
  right: 0px;
}

/* drop down menus */
.edit-drop-trigger {
  display: flex;
  justify-content: flex-end;
  margin-right: 6px;
}

.category-dropdown-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  margin-top: 10px;
  margin-right: 10px;
  color: black;
}

.category-dropdown-container i {
  color: black;
}

.category-dropdown {
  display: flex;
  width: 120px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 #00000024, 0 3px 1px -2px #0000001f, 0 1px 5px 0 #0003;
  border-radius: 5px;
  position: absolute;
  right: 8px;
  top: 0px;
  z-index: 6;
}

.category-dropdown > li {
  padding: 14px 16px !important;
}

.category-dropdown > li:hover {
  background-color: rgba(0, 0, 0, 0.11);
}

.category-dropdown i,
.product-dropdown i {
  color: black;
}

/* ++++++++++++++++++++++ */
/* FALLBACK VIEW */
/* ++++++++++++++++++++++ */

.fallback-message {
  text-align: center;
  margin-top: 50px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}
.fallback-message > div:nth-of-type(1) p {
  margin-top: 10px;
}

.fallback-message > div:nth-of-type(2) a {
  margin-top: 10px;
}
