.product-img i {
  display: block;
}

.large-view-orders {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 80px 10px 0px 10px;
  margin: 0 auto;
}


/*
=========================
CATEGORY STYLES
========================= 
*/

.card-btns > div:nth-of-type(2) {
  font-size: inherit !important
}

.card-reveal-btns > a {
  font-size: inherit !important
}