{{> navbar_admin }}
<div class="searchbar" >
    <input type="text" placeholder="Search For Addons... ">
    <i class="material-icons">search</i>  
</div>

<div class="container addons-list-container">
    <div class="row">
        <div class="col s12">
            <div class="addons-add-btn">
                <a class="waves-effect waves-light btn add-addon-btn">Add Addon</a>
            </div>
            <div class="addons-input" style="display: none">
                <input type="text" placeholder="add allergy here..." >
                <div class="addons-input-btns">
                    <a class="waves-effect waves-light btn addon-save-btn">save</a>
                    <a class="waves-effect waves-light btn addon-cancel-btn">cancle</a>
                </div>
            </div>
            <ul>
                <li>

                </li>
            </ul>
        </div>
    </div>
</div>
