{{> navbar_admin }}
<div class="searchbar">
    <input type="text" placeholder="Search For Addons... ">
    <i class="material-icons">search</i>
</div>

<div id="addon-container" class="container addons-list-container">
    <div class="row">
        <div class="col s12">

            <a id="add-addon-btn" class="waves-effect waves-light btn add-addon-btn">Add Addon</a>


            <ul id="addon-list">
                <li>

                </li>
            </ul>
        </div>
    </div>
</div>

{{!-- Admin Addons UI --}}
<script type="text/javascript" src="/ui/admin_addons_ui.js">
</script>

{{!-- Admin Addons Handlers --}}
<script type="text/javascript" src="/handlers/admin_addons_handlers.js">
</script>