{{> navbar_admin }}
<div class="searchbar" >
    <input type="text" placeholder="Search For Allergies... ">
    <i class="material-icons">search</i>  
</div>

<div class="container allergy-list-container">
    <div class="row">
        <div class="col s12">
            <div class="allergy-add-btn">
                <a class="waves-effect waves-light btn">Add Allergy</a>
            </div>
            <div class="allergy-input" style="">
                <input type="text" placeholder="add allergy here..." >
                <div class="category-input-btns">
                    <a class="waves-effect waves-light btn category-save-btn">save</a>
                    <a class="waves-effect waves-light btn category-cancle-btn">cancle</a>
                </div>
            </div>
            <ul>
                <li>

                </li>
            </ul>
        </div>
    </div>
</div>
