<%- include ("partials/admin_header.ejs") %>
<div class="option-menu-shadow"></div>

<div class="container admin-products-container">
    <div class="searchbar" >
        <input type="text" placeholder="Search For Product... ">
        <i class="material-icons">search</i>  
      </div>
     
    <div class="row">
        <div class="category-add-btn">
            <a class="waves-effect waves-light btn add-category-btn">Add Category</a>
            <a class="waves-effect waves-light btn cancle-category-btn" style="display: none">Cancel</a>
        </div>
        <div>
            <ul class="collapsible admin-category-list">
                <li class="category-input" style="display: none">
                    <input type="text" placeholder="add category here...." >
                    <a ><button class="add-btn">ADD</button></a>
                </li>
                <li>
                    <div class="collapsible-header-container">   
                        <div class="collapsible-header">
                            <div>
                              <div class="admin-category-img">
                                  <img src="/cake_1.jpg">
                              </div>
                              <div>
                                  <h2>Title</h2>
                              </div>
                            </div>
                        </div>
                        <div>
                            <a class='dropdown-trigger edit-drop-trigger' href='#' data-target='dropdown1'><i class="material-icons">more_vert</i></a>
                            <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#!">Edit</a></li>
                            <li><a href="#!">Delete</a></li>
                            </ul>
                        </div>
                    </div> 
                    <div class="collapsible-body">
                        <ul class="admin-product-list">
                            <li>
                                <div>
                                    <div class="admin-product-img">
                                        <img src="/cake_1.jpg">
                                    </div>
                                    <div>
                                        <h2>Title</h2>
                                    </div>
                                </div>
                                <div>
                                    <a class='dropdown-trigger edit-drop-trigger' href='#' data-target='dropdown2'><i class="material-icons">more_vert</i></a>
                                <ul id='dropdown2' class='dropdown-content'>
                                    <li><a href="#!">Addons</a></li>
                                    <li><a href="#!">Alergies</a></li>
                                    <li><a href="#!">Edit</a></li>
                                    <li><a href="#!">Delete</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include ("partials/admin_footer.ejs") %>