{{> navbar_admin }}
<div class="searchbar">
    <input type="text" placeholder="Search For Allergies... ">
    <i class="material-icons">search</i>
</div>

<div id="allergy-list-container" class="container">
    <div class="row">
        <div class="col s12">
            <div id="allergy-input-container">
                <a id="add-allergy-btn" class="waves-effect waves-light btn ">Add Allergy</a>
            </div>
            <ul class="allergy-chips">
                <li>
                    <div class="chip ">
                        Tag
                        <i class="close material-icons">close</i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>