<%- include ("partials/header.ejs") %>
<div class="cart-container container">
    <div class="row">
        <div class="col s12">
            <div class="cart">
                <div class="cart-info">
                    <div>
                        <h3>2 Items</h3>
                    </div>
                    <div>
                        <h2>Total</h2>
                        <h3>$400.00</h3>
                    </div>
                </div>
                <div class="cart-btn">
                    <a href=""><button>Got to Checkout</button></a>
                </div>
                <ul class="collection cart-list">
                    <li class="collection-item cart-item">
                        <div>
                            <div class="cart-img">
                                <img src="/cake_10.jpg">
                            </div>
                            <div>
                                <h4>Cake</h4>
                                <h4>$8.00</h4> 
                            </div>
                        </div>
                        <div class="cart-btns">
                            <div>2</div> 
                            <div>
                                <i class="material-icons">settings</i>
                                <i class="material-icons">delete</i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include ("partials/footer.ejs") %>