<%- include ("partials/header.ejs") %>
<div class="cart-container container">
    <div class="row">
        <div class="col s12">
            <div class="cart">
                <div class="cart-info">
                    <div>2 Items</div>
                    <div>
                        <h2>Total</h2>
                        <h3>$400.00</h3>
                    </div>
                </div>
                <div class="cart-btn">
                    <a href=""><button>Got to Checkout</button></a>
                </div>
                <ul class="collection cart-list">
                    <li class="collection-item cart-item">
                        <div>
                            <img src="/cake_10.jpg">
                        </div>
                        <div>
                            <h2>Cake</h2>
                            <h3>Price</h3>
                            <h4>Quantity</h4>
                        </div>
                        <div>
                            <div class="cart-btns">
                                <i class="material-icons">settings</i>
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item cart-item">
                        <div>
                            <img src="/cake_10.jpg">
                        </div>
                        <div>
                            <h2>Cake</h2>
                            <h3>Price</h3>
                            <h4>Quantity</h4>
                        </div>
                        <div>
                            <div class="cart-btns">
                                <i class="material-icons">settings</i>
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </li>
                    <li class="collection-item cart-item">
                        <div>
                            <img src="/cake_10.jpg">
                        </div>
                        <div>
                            <h2>Cake</h2>
                            <h3>Price</h3>
                            <h4>Quantity</h4>
                        </div>
                        <div>
                            <div class="cart-btns">
                                <i class="material-icons">settings</i>
                                <i class="fas fa-trash-alt"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include ("partials/footer.ejs") %>