{{> navbar_customer }}
<div id="cart-container" class="container">
    <div class="row">
        <div class="col s12">
            <section id="cart">
                <header id="cart-info">
                    <h2>2 Items</h2>
                    <div class="cart-total">
                        <h2>Cart Total:</h2>
                        <h3>$400.00</h3>
                    </div>
                    <a id="cart-checkout-btn" class="waves-effect waves-light btn confirm-btn">button</a>
                </header>
                <ul id="cart-list" class="collection"></ul>
            </section>
        </div>
    </div>
</div>

{{!-- HANDLERS --}}
<script type="text/javascript" src="/customer/handlers/customer_cart_handlers.js">
</script>