{{> navbar_customer }}
<div class="searchbar">
  <input type="text" placeholder="Search For Product... ">
  <i class="material-icons">search</i>
</div>
<div id="category-enclosure">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div id="products-list" data-categoryid={{categoryId}}>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/customer/ui/customer_category_ui.js"></script>
  <script type="text/javascript" src="/customer/handlers/customer_products_handlers.js">
  </script>
  <script type="text/javascript" src="/customer/handlers/customer_cart_handlers.js">
  </script>