<div class="container fallback-message">
    <div>
        <h1>Shoot! You are offline...</h1>
        <p>Please visit this page when online again.</p>
    </div>
    <div>
        <h2>Back to home page?</h2>
        <a href="/products" class="btn-small">Go Back Home</a>
    </div>
</div>