<%- include ("partials/header.ejs") %>
<div class="order-nav-container">
  <ul class="user-nav">
      <li><a href="/orders/pending/user">Pending</a></li>
      <li><a href="/orders/history/user">History</a></li>
      <li><a href="/orders/history/user">Comleted</a></li>
  </ul>
</div>
  <div class="orders-container">
    <div class="carousel carousel-slider center orders-carousel">
      <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
      </div>
      <div class="carousel-item white-text" href="#one!">
        <h2>First Panel</h2>
        <p class="white-text">This is your first panel</p>
      </div>
      <div class="carousel-item white-text" href="#two!">
        <h2>Second Panel</h2>
        <p class="white-text">This is your second panel</p>
      </div>
      <div class="carousel-item white-text" href="#three!">
        <h2>Third Panel</h2>
        <p class="white-text">This is your third panel</p>
      </div>
      <div class="carousel-item white-text" href="#four!">
        <h2>Fourth Panel</h2>
        <p class="white-text">This is your fourth panel</p>
      </div>
    </div>
  </div>
  
<%- include ("partials/footer.ejs") %>