{{> navbar_admin }}
<div class="option-menu-shadow" style="display: none;"></div>

<div class="admin-product-floater-container" style="display:none">
    <div class="edit-category-menu" style="display:none">
        <input id="edit-category-input" type="text" placeholder="add category title here...">
        <div>
            <a id="save-edit-category-btn" class="waves-effect waves-light btn save-btn">save</a>
            <a class="waves-effect waves-light btn cancel-btn">cancle</a>
        </div>
    </div>

    <div class="edit-product-menu" style="display:none">
        <div class="title_price-inputs">
            <input type="text" placeholder="add product title here...">
            <input type="text" placeholder="add price...">
        </div>
        <input type="text" placeholder="add description...">
        <div class="product-edit-input-btns">
            <a class="waves-effect waves-light btn save-btn">save</a>
            <a class="waves-effect waves-light btn cancel-btn">cancle</a>
        </div>
    </div>


    <div class="delete-prompt category-prompt" style="display:none">
        <h3>Are you sure want to delete this category? You have x items in this list.</h3>
        <a class="waves-effect waves-light btn delete-confirm-btn">Confirm</a>
        <a class="waves-effect waves-light btn cancel-btn">Cancel</a>

    </div>

    <div class="delete-prompt product-prompt" style="display:none">
        <h3>Are you sure want to delete this item?</h3>
        <a class="waves-effect waves-light btn delete-confirm-btn">Confirm</a>
        <a class="waves-effect waves-light btn cancel-btn">Cancel</a>
    </div>
</div>


<div class="container admin-products-container">
    <div class="searchbar">
        <input type="text" placeholder="Search For Product... ">
        <i class="material-icons">search</i>
    </div>

    <div class="row">
        <div class="category-add-btn">
            <a class="waves-effect waves-light btn add-category-btn">Add Category</a>
        </div>
        <div>
            <ul class="collapsible admin-category-list">
                <li class="category-input" style="display: none">
                    <input id="add-category-input" type="text" placeholder="add category here....">
                    <div class="category-input-btns">
                        <a id="category-create-btn" class="waves-effect waves-light btn category-save-btn">save</a>
                        <a id="category-cancel-btn" class="waves-effect waves-light btn category-cancel-btn">cancle</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>