{{> navbar_customer }}
<div class="categories-enclosure">
  <div class="row">
    <div class="col s12">
      <div class="categories-list">
        {{#each categories}}
        <div class="card categories-card">
          <a href="/product/{{productCategory}}">
            <div class="card-image waves-effect waves-block waves-light product-img">
              <img src="{{img}}">
            </div>
          </a>
          <a href="">
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">{{productCategory}}</span>
              <h2>{{productCount}} Items </h2>
            </div>
          </a>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>