{{> navbar_customer }}
<div id="products-enclosure">
  <div class="row">
    <div id="products-column" class="col s12">
      <div id="categories-list"></div>
    </div>
  </div>
</div>

{{!-- Customer Products Handlers --}}
<<<<<<< HEAD
<script type="text/javascript" src="/handlers/customer_categories_handlers.js">
</script>
{{!-- <script>
  //  user.getId().then(function(result){
       // alert(result);
    }); 
</script> --}}
=======
<script type="text/javascript" src="/customer/handlers/customer_categories_handlers.js">
</script>
>>>>>>> bcb0cfc1c503d42975d3e749f3ddd15009f655af
