{{> navbar_customer }}
<div id="products-enclosure">
  <div class="row">
    <div id="products-column" class="col s12">
      <div id="categories-list">

      </div>
    </div>
  </div>
</div>


{{!-- Customer Products Handlers --}}
<script type="text/javascript" src="/handlers/customer_categories_handlers.js">
</script>