<%- include ("partials/header.ejs") %>

    <div class="user-nav-container">
        <ul class="user-nav">
            <li><a href="">Info</a></li>
            <li><a href="">Payment</a></li>
            <li><a href="">Order History</a></li>
        </ul>
    </div>

<div class="user-page-container">
    <div class="user-info-container">
        <div>
            <i class="material-icons">contact_phone</i>
        </div>
        <div>
            <h2>Number</h2>
            <h3>902-221-7158</h3>
        </div>
    </div>

    <div class="card-list-view">
        <ul>
            <li></li>
        </ul>
    </div>

    <div class="user-email-contact">
        <div>
            <i class="material-icons">email</i>
        </div>
        <div>
            <h2>Email: user123@gmail.com</h2>
        </div>
    </div>

    <div class="user-payment-info-container">
        <div>
            <i class="material-icons">credit_card</i>
        </div>
        <div>
            <div class="current-card">
                <h2>Card Name:</h2>
                <h3>Card Number: **** **** **** 3452</h3>
            </div>
            <div class="card-buttons">
                <a><button>ADD CARD</button></a>
                <a><button>VIEW CARDS</button></a>
            </div>
        </div>
    </div>

</div>
<%- include ("partials/footer.ejs") %>