{{> navbar_customer }}
<ul id="user-info-list" class="collapsible">
  <li>
    <div class="collapsible-header user-info-header">
      <div><i class="material-icons">person_outline</i>
        <h3>First Name</h3>
        <a class="waves-effect waves-light btn confirm-btn save-btn" style="display: none;">Save</a>
      </div>
      <div class="user-info-current-tags">
        <p class="userFirst"></p>
      </div>
    </div>
    <div class="collapsible-body user-info-content">
      <div class="input-field user-input-field">
        <input id="userFirst" type="text" class="validate userFirst">
      </div>
    </div>
  </li>
  <li>
  <li>
    <div class="collapsible-header user-info-header">
      <div><i class="material-icons">person_outline</i>
        <h3>Last Name</h3>
        <a class="waves-effect waves-light btn confirm-btn save-btn" style="display: none;">Save</a>
      </div>
      <div class="user-info-current-tags">
        <p class="userLast"></p>
      </div>
    </div>
    <div class="collapsible-body user-info-content">
      <div class="input-field user-input-field">
        <input class="userLast" type="text" class="validate userLast">
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header user-info-header">
      <div><i class="material-icons">location_on</i>
        <h3>Location</h3>
        <a class="waves-effect waves-light btn confirm-btn save-btn" style="display: none;">Save</a>
      </div>
      <div class="user-info-current-tags">
        <p class="userLocation"></p>
      </div>
    </div>
    <div class="collapsible-body user-info-content">
      <div class="input-field user-input-field">
        <input class="userLocation" type="text" class="validate userLocation">

      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header user-info-header">
      <div><i class="material-icons">phone</i>
        <h3>Phone Number</h3>
        <a class="waves-effect waves-light btn confirm-btn save-btn" style="display: none;">Save</a>
      </div>
      <div class="user-info-current-tags">
        <p class="userPhone"></p>
      </div>
    </div>
    <div class="collapsible-body user-info-content">
      <div class="input-field user-input-field">
        <input class="userPhone" type="text" class="validate userPhone">
      </div>

    </div>
  </li>
  <li>
    <div class="collapsible-header user-info-header">
      <div><i class="material-icons">local_hospital</i>
        <h3>Allergies</h3><span class="badge"></span>
      </div>
    </div>
    <div id="user-all-list" class="collapsible-body user-info-content userAllergies"></div>
  </li>
</ul>

{{!-- Customer User Handlers --}}
<script type="text/javascript" src="/customer/handlers/customer_user_handlers.js">
</script>