html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 5px;
    font-family: 'Bebas Neue', cursive;
    margin: 70px 0px 0px 0px;
    font-family: 'Josefin Sans', sans-serif;
}

.shadow {
    background-color: black;
    z-index: 5;
    height: 100%;
    width: 100%;
    position: absolute;
}

.page-enclosure {
    margin: 0 auto;
    width: 100%;
}


.chat-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 70px;
    height: 70px;
    z-index: 4;
    background-color: #FFAD42;
    bottom: 25px;
    right: 25px;
    border-radius: 50px;
  
}

.chat-bubble a {
    display: flex;
    justify-content: center;
    align-items: center;
    position:  fixed;
    text-decoration: none;
}

.chat-bubble i {
    color: rgb(39, 39, 39);
    position: relative;
}

.chat-menu-shadow {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.664);
    height: 100vh;
    z-index: 3;
    top: 0px;
    display: none;
}

.bob-down {
    animation-name: bobDown;
    animation-fill-mode: forwards;
    animation-duration: 1s;;
}

@keyframes bobIn {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0px);
     
    }
}

@keyframes bobDown {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
} 


.chat-container {
    width: 200px;
    position: fixed;
    bottom: 50px;
    right: 60px;
    z-index: 4;
    background-color: #FFAD42;
    padding: 10px;
    z-index: 4;
    border-radius: 10px;
    display: none;
}

.bubble-field {
    background-color: white;
    height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    overflow-y: scroll;
}

.chat-container input {
    width: 83%;
    margin-top: 10px;
    border: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px;
}

.openChat {
    animation-name: openChat;
    animation-duration: .5s;
    display: block;
    animation-fill-mode: forwards;
}

.closeChat {
   display: none;
}

@keyframes openChat {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }

    to {
        width: 200px;
        opacity: 1;
    }
}


.chat-bubble-client {
    background-color: #FFAD42;
    width: 70%;
    z-index: 5;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    margin: 5px;
    margin: 5px 30px 5px 5px;
    color: rgb(39, 39, 39);
}

.chat-bubble-client h4 {
    margin: 0px;
    font-size: small;
}

.chat-bubble-client p {
    margin: 0px;
    font-size: smaller;
}

.chat-bubble-service {
    background-color: #09af00;
    width: 70%;
    z-index: 5;
    padding: 10px;
    border-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 5px;
 
}

.chat-bubble-service h4 {
    margin: 0px;
    font-size: small;
}

.chat-bubble-service p {
    margin: 0px;
    font-size: smaller;
}
