/*
  ==============================
  GLOBAL STYLES
  ==============================
*/

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: "Bebas Neue", cursive;
  font-family: "Poppins", sans-serif;
  width: 100%;
  background-color: #073b3a;
  font-size: 16px !important;
  height: 100%;
}

body h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  margin: 0px;
}

html body h1 {
  font-size: 250% !important;
  margin: 0px;
  padding: 0px;
}

html body h2 {
  font-size: 180% !important;
  margin: 0px;
  padding: 0px;
}

body h3 {
  font-size: 130% !important;
  margin: 0px;
  padding: 0px;
}

body h4 {
  font-size: 120% !important;
  margin: 0px;
  padding: 0px;
}

body p,
span {
  font-size: 120% !important;
  margin: 0px;
  padding: 0px;
}

body a {
  font-size: 100% !important;
  margin: 0px;
}

.shadow {
  background-color: black;
  z-index: 5;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*
  +++++++++++++++++++++++++
  LOGIN VIEW
  +++++++++++++++++++++++++
*/

#login-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form-header {
  background-color: #5cb85c;
  height: 60px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#login-form-header h2 {
  color: #ffffff;
  text-transform: uppercase;
}

#login-form {
  background-color: #ffffff;
  width: 90%;
  padding: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

#login-form > div {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
}

#login-form > div a {
  margin: 0px 8px 0px 8px;
}

#login-form > div a:nth-of-type(2) i {
  color: red;
}

#login-form > input {
  background-color: #f5f5f5;
  border: 1px solid #9e9e9e;
  padding-left: 10px;
  box-sizing: border-box;
}

/*
  +++++++++++++++++++++++++
  Sign Up VIEW
  +++++++++++++++++++++++++
*/

#signup-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signup-form-header {
  background-color: #5cb85c;
  height: 60px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#signup-form-header h2 {
  color: #ffffff;
  text-transform: uppercase;
}

#signup-form {
  background-color: #ffffff;
  width: 90%;
  padding: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
}

#signup-form > a {
  margin-top: 20px;
}

#signup-form > input {
  background-color: #f5f5f5;
  border: 1px solid #9e9e9e;
  padding-left: 10px;
  box-sizing: border-box;
}

/*
  ==============================
  CHAT MENU STYLES
  ==============================
*/

/* #chat-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 70px;
  height: 70px;
  z-index: 4;
  background-color: #ffad42;
  bottom: 25px;
  right: 25px;
  border-radius: 50px;
}

#chat-bubble a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  text-decoration: none;
}

#chat-bubble i {
  color: rgb(39, 39, 39);
  position: relative;
}

.chat-menu-shadow {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.664);
  height: 100vh;
  z-index: 3;
  top: 0px;
  display: none;
}

.bob-down {
  animation-name: bobDown;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

@keyframes bobIn {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes bobDown {
  from {
    transform: translateY(50px);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(0px);
  }
}

.chat-container {
  position: fixed;
  bottom: 0px;
  z-index: 4;
  background-color: #ffad42;
  display: none;
  width: 100%;
}

.bubble-field {
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: white;
  overflow-y: scroll;
  overflow: auto;
  height: 40vh;
  padding: 5px;
  margin: 10px;
}

.chat-container input {
  width: 100%;
  margin-top: 10px;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.openChat {
  animation-name: openChat;
  animation-duration: 0.5s;
  display: block;
  animation-fill-mode: forwards;
}

.closeChat {
  display: none;
}

@keyframes openChat {
  from {
    width: 0vh;
    height: 0;
    opacity: 0;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

.chat-bubble-client {
  background-color: #ffad42;
  z-index: 5;
  padding: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
  color: rgb(39, 39, 39);
  margin: 5px;
}

.chat-bubble-client h4 {
  margin: 0px;
  font-size: small;
}

.chat-bubble-client p {
  margin: 0px;
  font-size: smaller;
}

.chat-bubble-service {
  background-color: #09af00;
  width: 70%;
  z-index: 5;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;
}

.chat-bubble-service h4 {
  margin: 0px;
  font-size: small;
}

.chat-bubble-service p {
  margin: 0px;
  font-size: smaller;
} */
