/* CATAGORIES CSS */
.categories-enclosure {
    margin-bottom: 30px;;
    overflow: auto;
    height: 100%;
}
.categories-list {
    width: 90%;
    margin: auto;
    overflow: auto;
    scrollbar-width: none;
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}


.categories-card {
    margin: 10px 0px 30px 0px;
    flex: 1 !important;
    border-radius: 8px;

}

.categories-card p {
    color: rgba(0, 0, 0, 0.473);;
    font-size: 1.3em !important;  
}
 
.categories-card span {
    text-transform: capitalize;
    font-size: 1.8em !important;
}

.product-img {
    width: 100% !important;
}

.card-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* CATEGORY CSS */
.category-enclosure {
    margin-bottom: 30px;;
    overflow: auto;
    height: 100%;
}

.category-list {
    width: 100%;
    margin: auto;
    overflow: auto;
    scrollbar-width: none;
    height: 100%;
    padding-top: 65px;
    min-width: 200px;
}

.category-card {
    flex: 1 !important;
    margin: 10px 0px 30px 0px;
    border-radius: 8px;
}

.product-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.category-card span {
    text-transform: capitalize;
    margin: 0px !important;
}

.category-card img {
    object-fit: cover;
    height: 200px;
}

.category-product-list::-webkit-scrollbar {
    display: none;
  }

.category-enclosure {
    height: 100%;
}

.searchbar {
    box-shadow: 0px 0px 2px 1px#ffffff ; 
    height: 50px;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 65px;
    z-index: 5;
}

.searchbar i {
    position: relative;;
    left: 13px;
    bottom: 45px;;
    color: rgba(39, 39, 39, 0.4);
}

.searchbar input {
    width: 100%;
    height: 50px !important;
    border: none;
    width: 100%;
    border-radius: 10px;
    text-indent: 50px;
    font-size: 1.3em !important;
    background-color:#ffffff!important;
    border-bottom: none !important;
    border-top: 2px solid #ccc !important;
    padding: 20px;
}

.floating-product-img {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.473);
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.floating-product-img img {
    height: 80%;
}

.product-img {
    width: 100% !important;

}

.product-img i {
    position: absolute;
    z-index: 7;
    left: 10px;
    top: 10px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    display: none;
}

.category-card-content {
    display: flex;
    justify-content: space-between;
}

.category-card-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1.8;
}

.category-card-title span {
    font-size: 1.8em !important;

}

.category-card-title p {
    margin-top: 15px !important;
    color: black;
    font-size: 1.4em !important;
    margin-bottom: 5px !important;
}

.card-btns {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}

.card-btns > div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex: 1;

}

.card-btns > div:nth-of-type(2) {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex: 1;
    color: #2c363f;
}

.card-btns p {
    margin: 0px !important;
    margin-right: 5px !important;
    font-weight: bold;
}

.card-btns i {
    font-size: 30px;
    font-weight: 600 !important;
    margin-bottom: 16px;
 
}

.card-btns button {
    background-color: #5cb85c;
    color: white;
    border:none;
    border-radius: 5px;
    padding: 9px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content p {
    font-size: 1.1em;
}

/* USER INFO CSS*/
.user-info-container ul {
    margin-top: 0px;
    height: 95vh !important;
    border: none !important;
    overflow-y: scroll;
}

.user-info-container ul > li {
    margin: 20px 20px 20px 20px !important;
    z-index: 3 !important;
  
}

.user-input-field {
    margin: 0 !important;
    position: inline-block;
}

.user-info-content {
    position: relative !important;
    top: -8px !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.user-info-header {
    border-radius: 10px !important;
    height: 73px !important;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
}

.user-info-header div:nth-of-type(1) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-info-content {
    background-color: #ffffff;
   
}

.confirmed-allergie {
    background-color: #5cb85c;
    color: white;
}

.allergie-chip {
    margin: 0px 10px 10px 0px !important;
}

/* ORDER CSS */
.order-nav-container {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0px;
    top: 65px; 
}

.order-nav-container ul {
    display: flex;
    justify-content: space-around;
}

.order-nav-container a {
    color: black;
}

.orders-container {
    height: 83vh;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.orders-carousel {
    height: 100%;
    margin-top: 68px;
}

.orders {
    font-size: 1em !important;
    height: 100% !important;
    overflow-y: auto;
}

.orders > div {
    margin-bottom: 20px;
    background-color: #ffffff;
}

.order-divider {
    margin: 20px 0px 0px 0px;
}

.orders h2, h3 {
    font-size: 1em !important;
    margin: 0px;
}


.order-details {
    padding: 10px;
    margin: 10px;
}

.order-details > div {
    display: flex;
    align-items: center;
}

.order-details h2 {
    font-size: 1em;
    margin: 0px;
}

.order-details > div {
    background-color: #2C363F;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px 10px 0px;
    height: 40px;
    text-align: left;
}

.order-table th {
    text-align: center !important;
    color: black !important;
}

.order-table td {
    color: black !important;
    text-align: center !important;
}

.order-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.order-chart-total td:nth-of-type(1) {
    text-align: right !important;
}

/* Large View Orders */
.large-view-orders {
    display: none;
}

.large-view-orders > div {
   background-color: white;
   margin: 0px 20px 20px 20px;
} 




.disabled {
    display: none;
}

.active {
    display: block;
}