/* CATAGORIES CSS */
.product-list {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 100px;
    -ms-overflow-style: none;
}

.product-list::-webkit-scrollbar {
    display: none;
  }

.product-list div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.product-list img {
    height: 85px;
    width: 85px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden !important;
}

.product-list ul {
    border-radius: 10px;
    border: none;
    margin: 30px 0px 30px 0px !important;
}

.product-list ul > li {
    border-radius: 10px;
    padding: 5px;
    gap: 15px;
    padding: 0px 5px 0px 0px !important;
    align-items: center;
    border: hidden;
}

.product-list h2 {
    font-size: 1.8em;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 7px;
    color: black;
}

.product-list h3 {
    font-size: 1em;
    font-weight: 300;   
    color: black;
}

.list-item-img {
    width: 100%;
    height: 350px;;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
}

.list-item-btns {
    background-color: black;
}


/* CATEGORY CSS */

.category-header {
    position: absolute;
    top: 15px;
    left: 80px;
}

.category-header h1 {
    font-size: 2em !important;
    margin: 0px;
    text-transform: capitalize;
    font-weight: bold;

}

.category-enclosure {
    margin-bottom: 30px;;
    overflow: auto;
}

.category-product-list {
    width: 80%;
    margin: auto;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    overflow: auto;
    scrollbar-width: none;
    height: 100%;
    padding-top: 50px;
}

.category-product-list::-webkit-scrollbar {
    display: none;
  }

.category-item-container {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: center;
    flex-direction: column;
}

.category-item-container > ul {
    flex: 1;
    margin: 0 auto;
    min-height: 0;
    display: block;
}

.category-content {
    position: relative !important;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    background-color: white;

}

.category-content::after {
    content: "";
    position: absolute;
    top: -10px;
    left:0;
    height:40px;
    width: 100%;
    background:white;
    z-index: -1;
}

.category-product-list div {
    border: none;
}

.category-product-list ul {
    border: none;
    margin: 30px 0px 30px 0px;
    height: 85px !important;
}


.category-product-list img {
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden !important;
    object-fit: cover;
}

.category-product-list h2 {
    font-size: 1.8em;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 7px;
    color: black;
}

.category-product-list h3 {
    font-size: 1em;
    font-weight: 300;   
    color: black;
    
}

.category-item {
    padding: 0px 5px 0px 0px !important;
    border-radius: 10px;; 
}

.category-title {
    padding-left: 10px;
}

.category-item-open {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.category-title {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
}

.category-product-list-img {
    height: 85px;
    width: 85px;
}


.category-enclosure {
    height: 100%;
}

.category-bar {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr;
    height: 51px;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: rgba(0, 0, 0, 0.507);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    position: absolute;
    top:65px;
    left: 0px;
}

.category-bar h1 {
    margin: 0px;
    font-size: 1.2em;
    text-align: center;
}

.searchbar {
    box-shadow: 0px 0px 2px 1px#ffffff ; 
    height: 50px;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 65px;
    z-index: 5;
}


.searchbar i {
    position: relative;;
    left: 13px;
    bottom: 45px;;
    color: rgba(39, 39, 39, 0.4);
}

.searchbar input {
    width: 100%;
    height: 50px !important;
    border: none;
    width: 100%;
    border-radius: 10px;
    text-indent: 50px;
    font-size: 1.3em;
    background-color:#ffffff!important;
    border-bottom: none !important;
    border-top: 2px solid #ccc !important;
}

/* INDVIDUAL PRODUCT */
.indidual-item-container {
    width: 100%;
    position: relative;
}

.individual-item {
    width: 100%;
}

.individual-item-img {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.individual-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-description {
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    height: 25vh;
    padding: 20px;
}

.customize-expansion {
    position: absolute;
    top:0px;
    height: 100vh;
}

@keyframes expand {
    from {
        height: 25vh
    }
    to {
        height: 100vh
    }
}

.item-description > p {
    text-decoration: none;
}


.item-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0px;
    text-transform: capitalize;

}

.item-header h3, h2 {
    margin: 0px;
}


/* USER INFO CSS*/

.user-page-container {
    padding-top:40px;
    width: 90%;
    margin: 0 auto;
}

.user-page-container h2, h3 {
    font-size: 1em;
    margin: 0px;
}


.user-page-container > div {
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    padding: 20px;
}

.user-nav-container {
    background-color: #ffffff;
    height: 42px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    font-size: 1.2em;
    top:65px;
    z-index: 3;
    box-shadow: 0px 0px 2px 1px#ffffff ; 
}

.user-nav-container .user-nav {
    list-style-type: none;
    padding: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.user-nav a {
    text-decoration: none;
    color: black;
}

.user-info-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 20px 1px rgba(0, 0, 0, 0.349);
    background-color: #ffad42;
    align-items: center;
}

.user-info-container i {
    font-size: 40px;
}

.user-info-container > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 20px 0px 5px;
    width: 50px;;
}

.user-email-contact {
    display: flex;
    align-items: center;
    background-color: #09af00;
}

.user-email-contact i {
    font-size: 40px;
}

.user-address {
    display: flex;
    align-items: center;
    background-color: #09af00;
}

.user-address div:nth-of-type(1) {
    margin: 0px 20px 0px 5px;
}

.user-address div:nth-of-type(2) {
    display: flex;
}

.user-address i {
    font-size: 40px;
}

.user-email-contact div:nth-of-type(1) {
    margin: 0px 20px 0px 5px;
}

.user-payment-info-container {
    background-color: #09af00;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    color: white;
    box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.349);
}

.user-payment-info-container > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 20px 0px 5px;
}

.user-payment-info-container div:nth-of-type(2) {
    text-align: left;
}

.user-payment-info-container i {
    font-size: 40px;
}

.current-card {
    padding: 0px;
}

.card-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-buttons button {
    border: none;
    background-color:#ffad42;
    border-radius: 5px;
    color: white;
    padding: 5px 15px 5px 15px
}

.card-list-view {
    display: none;
}

/* ORDER CSS */
.order {
    padding: 0px;
    background-color: #ffffff;
    z-index: -1;
}

.order-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.order-details > div {
    background-color: #ffad42;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;;
}

.order-details > div:nth-of-type(3) > div {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.order-details > div:nth-of-type(3) > div i {
    margin-right: 20px;;
}

.order-items {
    display: flex;
    flex-direction: row;
    height: 85px;
    align-items: center;
    margin-top: 10px;

}

.order-divider {
    margin: 20px 0px 20px 0px;
}

.order-items:nth-of-type(1) {
    margin-top: 0px;
}

.order-items > div:nth-of-type(1) {
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.order-items > div:nth-of-type(1) img  {
    object-fit: contain;
    width: 100%;
}

.order-item-price {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.452);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.order-item-price h2 {
    font-size: 1.5em;
    margin: 0;
}


.order-item-price h4 {
    font-size: 1.3em;
    margin: 0;
}





@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {


}

@media only screen and (min-width: 992px) {


}

@media only screen and (min-width: 1200px) {


}


.hideme {
    opacity: 0;
}