.navbar {
    background-color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-left: 25px;
    position: fixed;
    top:0;
    z-index: 3;
    width: 100%;
    height: 72px;
}

.navbar i {
    color:rgb(39, 39, 39);;
}

.navbar > div {
    text-align: left;
}

.navbar > div:nth-of-type(2) {
    color: #fefadf
}

.hamburger-menu {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-menu a > div {
    background-color: rgb(39, 39, 39);
    margin: 5px;
    height: 3px;
    width: 35px;
    border-radius: 5px;;
}

.navbar-hidden {
    width: 262.8px;
    height: 100%;
    background-color: rgb(39, 39, 39);
    position: fixed;
    z-index: 5;
    transform: translate(-267.8px);
    bottom: 0px;
}

.hidden-hamburger-menu {
    width: 50px;
    height: 81.8px;;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25px;;

}

.hidden-hamburger-menu a > div {
    height: 3px;
    width: 35px;
    background-color: white;
    margin: 7px;
    border-radius: 5px;
}


.nav-out {
    animation-name: slideOut;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    transform: translate(0)
}

.nav-in {
    animation-name: slideIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    transform: translate(-267.8px);
}

@keyframes slideIn {
    from {
        transform: translate(0)
    }
    to {
        transform: translate(-267.8px);
    }
}

@keyframes slideOut {
    from {
        transform: translate(-267.8px);
    }
    to {
        transform: translate(0)
    }
}

.user-icon {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.user-icon i {
    color: #09af00;
}

.user-icon-menu {
    background-color: white;
    position: fixed;
    top: 79px;
    width: 180px;
    right: 7px;
    z-index: 5;
    box-shadow: 2px 2px 4px black;
    display: flex;
    flex-direction: column;
}

.user-icon-menu > div {
    border-bottom: 1px solid black;
    text-indent: 15px;
}
.user-icon-menu-links {

}

.user-icon-menu-links h4{
    color: rgb(39, 39, 39);
    width: 100%;
    margin: 0px;;
    padding: 10px 0px 10px 0px;
}

.user-icon-menu-links div:hover {
    background-color: rgb(39, 39, 39);
    color: white;
}

.user-icon-menu-links div:hover a {
    color: white;
}

.user-icon-menu-links h4 a {
    text-decoration: none;
    color: black;
}

.user-icon-menu-links button {
    border: none;
    background-color: #f48b00;
    border-radius: 5px;
    box-shadow: .5px .5px 1px black;
    margin-top: 5px;
}

.logo {
    width: 65px;
    height: 65px;
}

.logo img {
    width: 100%;
    height: 100%;

}

.sub-menu {
    display: none;
}

.show {
    animation-fill-mode: forwards;
    animation-name: hideSub;
    animation-duration: .2s;
    display: block;
}


@keyframes showSub {
    from {
        height: 0px;
        opacity: 0;
    } to {
        height: 50px;
        opacity: 1;
    }
}

.side-nav-btn {
    font-size: 1.2em;
    display: flex;
    color: #f48b00;
    justify-content: space-between;
    margin: 20px 0px 10px 0px;
}

.side-nav-btn:nth-of-type(1) {
    margin-top: 0px;
}

.side-nav-btn a {
    text-decoration: none;
    color: #f48b00
}

.sub-menu {
    font-size: 1.1em;

    text-indent: 15px;
}

.sub-menu a {
    text-decoration: none;
    color: #f48b00;
}

.side-nav {
    padding: 10px 10px 5px 30px;
}