/* 
======================================
ADMIN ANIMATIONS
====================================== 
*/

@keyframes openTipMenu {
  from {
    top: 100px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes closeTipMenu {
  from {
    top: 0px;
    opacity: 1;
  }

  to {
    top: 100px;
    opacity: 0;
  }
}
